.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2CD997;
  height: 100vh;
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
}

.innerContainer {
  background-color: #F9D745;
  border: 2px solid black;
  border-width: 4px 4px 8px 8px;
  padding: 16px;
  background-image: linear-gradient(#FCD503, #09D1F7);
  width: 70%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0;
}

.buttonsContainer button {
  padding: 8px 16px;
  background-color: #F9D745;
  font-size: 16px;
  border: 2px solid black;
  border-width: 2px 2px 4px 4px;
}

.mostVotesContainer {
  background-color: white;
  padding: 16px;
  margin-top: 24px;
  border: 4px solid black;
  border-width: 4px 4px 7px 7px;

}
#vote-count {
  font-weight: 700;
}

.mostVotesContainer h3 {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .innerContainer {
    width: 400px;
  }
}